<%= form_for(@facility) do |f| %>
  <% if @facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul>
      <% @facility.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fid %><br>
    <%= f.text_field :fid %>
  </div>
  <div class="field">
    <%= f.label :pid %><br>
    <%= f.text_field :pid %>
  </div>
  <div class="field">
    <%= f.label :facility_name %><br>
    <%= f.text_field :facility_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
