<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @practice.pid %>
</p>

<p>
  <strong>Practice name:</strong>
  <%= @practice.practice_name %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
